*.iml
.DS_Store
.gradle
/local.properties
/.idea
/build
/captures
/app/src/test
/gradle/wrapper
/app/src/androidTest
/projectFilesBackup
app/app-release.apk
app/google-services.json
app/src/main/res/xml/app_tracker.xml
google-services.json
settings.gradle
app/proguard-rules.pro
gradle.properties
gradlew
gradlew.bat